---
layout: default
---
<head>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<div class="home">
<div>
  <a href="{{ site.baseurl }}/my_diagrams/2025/02/08/two_people_in_bed.html/two_people_in_bed_post.html">
    <img src="{{ site.baseurl }}/assets/my_design_images/two_people_in_bed/two_people_in_bed.jpg" alt="Two People In Bed" class="home-banner" height="300" width="300">
  </a>
  <a href="{{ site.baseurl }}/my_diagrams/2025/02/07/which_came_first.html">
    <img src="{{ site.baseurl }}/assets/my_design_images/which_came_first/which_came_first.jpg" alt="Which Came First?" class="home-banner" height="300" width="300">
  </a>
  <a href="{{ site.baseurl }}/my_diagrams/2025/02/07/snapdragon.html">
    <img src="{{ site.baseurl }}/assets/my_design_images/snapdragon/snapdragon_20241102_resized.jpg" alt="Snapdragon" class="home-banner" height="300" width="300"> 
  </a>
  <!-- add wen's cat <img src="{{ site.baseurl }}/assets/my_design_images/boxydox/boxydox_resized.jpg" alt="boxy dox" class="home-banner" height="300" width="300" >  -->
  <img src="{{ site.baseurl }}/assets/my_design_images/penguin/penguin_resized.jpg" alt="Penguin" class="home-banner" height="300" width="300" > 
  <img src="{{ site.baseurl }}/assets/my_design_images/hatching_chick/hatching_chick_resized.jpg" alt="hatching_chick" class="home-banner" height="300" width="300" > 
  <img src="{{ site.baseurl }}/assets/my_design_images/finaldraught/final_draught_resized.jpg" alt="final draft" class="home-banner" height="300" width="300" > 
  <a href="{{ site.baseurl }}/my_diagrams/2020/12/24/smile.html">
    <img src="{{ site.baseurl }}/assets/my_design_images/smile/smile_resize.jpg" alt="smile" class="home-banner" height="300" width="300"> 
  </a>
  <img src="{{ site.baseurl }}/assets/my_design_images/boxydox/boxydox_resized.jpg" alt="boxy dox" class="home-banner" height="300" width="300" > 
  <img src="{{ site.baseurl }}/assets/my_design_images/bleedingheart/bleedingheart_resized.jpg" alt="bleeding heart" class="home-banner" height="300" width="300" > 
  <img src="{{ site.baseurl }}/assets/my_design_images/tonguesout/tonguesout.jpg" alt="tongues out" class="home-banner" height="300" width="300" > 
</div>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
<div class="posts">
  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
</div>